.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.ant-tooltip-inner {
  width: fit-content;
  height: fit-content;
}

body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
  color-scheme: light;
}
.ant-btn,
.ant-btn-lg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
}
.btndanger {
  color: #999;
  background: #eee;
}
.ant-image img{
  object-fit: cover;
}
.btndanger:hover {
  color: #ff4d4f;
  background: #ffccc7;
}
.ant-tooltip-inner {
  font-size: 14px;
}
.shadowed {
  box-shadow: 0 2px 8px #f0f1f2 !important;
}
.hide-close .ant-drawer-close,
.hide-title .ant-table-title,
.hide-footer .ant-table-footer,
.hide-error .ant-form-item-explain,
.hide-error .ant-form-item-explain-connected {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.hide-error .ant-form-item {
  margin-bottom: 0 !important;
}
.hide-scrollbar .ant-drawer-body::-webkit-scrollbar {
  display: none;
}

.ant-popover-buttons .ant-btn {
  display: inline-flex;
}
.ant-popover-inner {
  border-radius: 4px;
}

.ant-table-footer {
  background-color: transparent;
  padding-bottom: 0;
}
.ant-table-pagination.ant-pagination {
  margin: 0;
}
.ant-input-clear-icon {
  font-size: 16px;
}
.table-fixed-pagination .ant-table-pagination.ant-pagination {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px -1px 4px 0px rgba(153, 153, 153, 0.5);
  padding: 8px 24px;
}
.ant-space-center-items .ant-space-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bordered.ant-empty-normal,
.bordered.ant-empty,
.empty-bordered .ant-empty,
.empty-bordered .ant-empty-normal {
  border: 1px dashed #d9d9d9;
  padding: 24px 0;
  margin: 0;
}
.empty-bordered .ant-list-empty-text {
  padding: 0;
}
