body {
    margin: 0px;
    padding: 0px;
}

#header {
    background: #f00;
    width: 100%;
    height: 5%;
}

#rightcol {
    background: #ff0;
    float: right;
    width: 20%;
    height: 90%;
}

#content {
    background: #fff;
    float: left;
    width: 59%;
    height: 89%;
}

#footer {
    background: #00f;
    clear: both;
    width: 100%;
    height: 5%;
}